.git
.github
.DS_Store
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
frontend/node_modules
frontend/dist
frontend/.vite
backend/.venv
backend/app/__pycache__
notebooks
datasets/original_dataset.csv
*.zip
*.tar
*.tar.gz
